<h1><%= @property.address %></h1>

  <ul>
    <li>Bedrooms: <%= @property.bedrooms %></li>
      <% if @property.garage %>
        <li>Has Garage</li>
      <% end %>
  </ul>

<%= link_to  "Edit This Property", edit_property_path(@property) %><br><br>

<%= link_to  "Delete This Property", @property, method: :delete %><br><br>

<%= link_to "Properties Index", properties_path %>
